# Data Science Tools and Ecosystem

## Author
* 許博惇 Bo Dun Hsu

* In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Create markdown cell with title of the notebook
- Create a markdown cell for an introduction
- Create a markdown cell with a table of Data Science tools

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SAS

## Some of the commonly used libraries used by Data Scientists include:
1. pandas 
2. ggplot
3. caret

In [6]:
import pandas as pd
data = {'Data Science Tools': ['Jupyter Notebook', 'RStudio', 'VS Code']}
df = pd.DataFrame(data)
df

  Data Science Tools
0   Jupyter Notebook
1            RStudio
2            VS Code

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
## This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
##  This will convert 200 minutes to hours by diving by 60
print("200mins =", 200/60, 'hours')

200mins = 3.3333333333333335 hours